<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhai.train.mapper.TrainSeatInformationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hhai.train.domain.po.TrainSeatInformation">
        <id column="id" property="id" />
        <result column="branch_station_id" property="branchStationId" />
        <result column="seat_id" property="seatId" />
        <result column="user_id" property="userId" />
        <result column="train_id" property="trainId" />
        <result column="seat_type" property="seatType" />
        <result column="carriage_no" property="carriageNo" />
        <result column="row_no" property="rowNo" />
        <result column="seat_code" property="seatCode" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
