<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhai.ticket.mapper.TicketMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hhai.ticket.domain.po.Ticket">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="train_id" property="trainId" />
        <result column="carriage_number" property="carriageNumber" />
        <result column="seat_number" property="seatNumber" />
        <result column="passenger_id" property="passengerId" />
        <result column="ticket_status" property="ticketStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
